.header {
    &__nav {
        .menu {
            display: flex;
            flex-direction: row;
            &__item:not(:last-child){
                margin: 0 30px 0 0;
            }
            a {
                font-size: rem(20px);
            }
        }
        .menu-button {
            display: none;
        }
    }
    &__callback {
        display: flex;
    }
}