/* font size  */
$baseFontSize: 16px;

/* colors  */
$whiteColor: #fff;
$blackColor: #000;
$darkBlackColor: #282528;
$mediumBlackColor: #3c3c3c;
$lightBlackColor: #646464;
$lightBlueColor: #18b5dc;
$blueColor: #5DCBE6;
$lightGrayColor: #DDDBDB;
$bgColor: #F6F6F6;
$gray4Color: #BDBDBD;